html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.github-link {
  position: absolute;
  right: 0;
  opacity: 0.8;
}

.github-link:hover {
  opacity: 1;
}

.text-red {
  color: #ff0000;
}
